/* Root, html, body, main, and * styling */
:root {
    --primary: rgb(30, 30, 30);
    --secondary: rgb(255, 255, 255);
    font-size: 16px;
}

html{
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), 
        url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: var(--secondary);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

*{
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Hero styling */
#heroContainer{
    padding-bottom: 4rem;
}

#heroTitle{
    font-size: 7rem;
    font-weight: 300;
}

#heroCaption{
    font-size: 1.78rem;
    font-weight: 200;
}


/* Main form styling */
#mainForm{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 1s;
    margin-bottom: 15rem;
}

#mainForm:hover{
    transition: 0.5s;
    transform: scale(1.5);
}

#mainFormSubmit{
    margin-right: 0.5rem;
    position: absolute;
    padding-left: 1rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.fa-arrow-right{
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
}

#mainFormInput{
    border: none;
    padding: 1rem 10rem 1rem 10rem;
    border-radius: 2rem;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}

#mainFormInput:hover,
#mainFormInput:focus{
    outline: none;
}


/* User book's styling */
#userBooks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

#booksHeader{
    font-size: 2rem;
    font-weight: 300;
}

#booksContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    justify-content: center;
    align-content: center; 
}

.book{
    display: grid;
    overflow: hidden;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    grid-template-rows: 0.5fr 3fr;
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary);
    transition: 1s;
}

.book:hover{
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.2);
    transition: 0.5s;
}

#libraryBookTitle{
    padding-top: 0.5rem;
    font-weight: 300;
    background-color: rgba(79, 79, 79, 0.6);
    color: var(--primary);
}

#libraryBookContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-trash-can{
    color: rgb(48, 48, 48);
    cursor: pointer;
    font-size: 2rem;
    width: fit-content;
}

/* Modal styling */
#modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

#modalWindow {
    margin: auto;
    margin-top: 15vh;
    left: 50vw;
    width: 25rem;
    height: 25rem;
    padding: 1rem;
    background-color: var(--secondary);
    border-radius: 1rem;
    padding-bottom: 5.1rem;
}

#modalFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 90%;
    width: 100%;
    padding-top: 3rem;
}

#bookTitle{
    font-size: 2rem;
    white-space: nowrap; 
    color: var(--primary);
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

#booksMessage{
    font-weight: 300;
    display: none;
}
#modalForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;
}

.modalFormInput{
    width: calc(100% - 10rem);
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    border: 0.1rem solid;
    border-radius: 1rem;
    padding: 0.5rem 0;
    transition: 1s;
}

#modalFormSubmit{
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 1rem;
    border: 0.1rem solid;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 2rem 1rem 2rem;
}

#modalFormSubmit:hover{
    cursor: pointer;
    padding: 1.2rem 2.2rem 1.2rem 2.2rem;
    background-color: var(--primary);
    color: var(--secondary);
}

#closeModal {
    color: var(--primary);
    float: right;
    font-size: 2rem;
}

/* Universal styling (applied to various sections) */
.animatedButton{
    transition: 1s;
}

.animatedButton:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.2);
}
