/* Root, html, body, main, and * styling */
:root {
    --primary: rgb(30, 30, 30);
    --secondary: rgb(255, 255, 255);
    font-size: 16px;
}

html{
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    text-align: center;
    background:
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), /* Gradient overlay */
        url('background.jpg'); /* Background image */
    background-size: cover; /* Ensure the background image covers the entire body */
    background-repeat: repeat; /* Prevent repeating the background image */
    background-position: center; /* Center the background image */
    color: var(--secondary);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

*{
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Hero styling */
#heroContainer{
    padding-bottom: 4rem;
}

#heroTitle{
    font-size: 7rem;
    font-weight: 300;
}

#heroCaption{
    font-size: 1.78rem;
    font-weight: 200;
}


/* Main form styling */
#mainForm{
    display: flex;
    align-items: center;
    padding-bottom: 10rem;
}

#mainFormSubmit{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.fa-arrow-right{
    color: var(--secondary);
    font-size: 2rem;
    transition: 1s;
}

.fa-arrow-right:hover{
    cursor: grab;
    font-size: 3rem;
    transition: 0.5s;
}

#mainFormInput{
    padding: 1rem 10rem 1rem 10rem;
    border-radius: 2rem;
    text-align: center;
    transition: 1s;
    font-weight: 300;
}

#mainFormInput:hover,
#mainFormInput:focus{
    font-size: 2rem;
    outline: none;
    transition: 0.5s;
}



/* User book's styling */
#userBooks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

#booksHeader{
    font-size: 1.5rem;
    font-weight: 200;
}

#booksContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    align-content: center; 
}

.book{
    background-color: rgba(255, 255, 255, 0.6);
    padding: clamp(5rem,10vw,8rem);
    border-radius: 1rem;
}


/* Modal styling */
#modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

#modalWindow {
    margin: auto;
    margin-top: 15vh;
    left: 50vw;
    width: 25rem;
    height: 25rem;
    padding: 1rem;
    background-color: var(--secondary);
    border-radius: 1rem;
    padding-bottom: 5.1rem;
}

#modalFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 90%;
    width: 100%;
    padding-top: 3rem;
}

#bookTitle{
    font-size: 2rem;
    white-space: nowrap; 
    color: var(--primary);
    font-weight: 500;
    cursor: grab;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

#modalForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;
}

.modalFormInput{
    width: calc(100% - 10rem);
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    border: 0.1rem solid;
    border-radius: 1rem;
    padding: 0.5rem 0;
    transition: 1s;
}

.modalFormInput:hover,
.modalFormInput:focus{
    transition: 0.5s;
    padding: 0.8rem;
}

#modalFormSubmit{
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 1rem;
    border: 0.1rem solid;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 2rem 1rem 2rem;
    transition: 1s;
}

#modalFormSubmit:hover{
    padding: 1.2rem 2.2rem 1.2rem 2.2rem;
    transition: 0.5s;
    cursor: grab;
    background-color: var(--secondary);
    color: var(--primary);
}

#closeModal {
    color: var(--primary);
    float: right;
    font-size: 2rem;
    transition: 0.5s;
}

#closeModal:hover,
#closeModal:focus {
    cursor: grab;
    font-size: 2.5rem;
    transition: 0.5s;
}
